# Node.js (frontend)
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Python (backend)
backend/__pycache__/
backend/app/__pycache__/
backend/app/api/__pycache__/
backend/app/models/__pycache__/
backend/app/schemas/__pycache__/
backend/app/api/routes/__pycache__/
backend/app/workers/__pycache__/
backend/sessions/
backend/.env
backend/telegram_automation.db

# Vite
frontend/.vite/

# VSCode
.vscode/

# Logs
*.log

#Virtual Env
venv/
.venv/