# Arquivos de Ambiente
.env
.env.*
!.env.example

# Ambiente Virtual Python
venv/
.venv/
env/
ENV/

# Arquivos de cache e compilados do Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Bancos de Dados
*.db
*.sqlite
*.sqlite3

# Arquivos de Sessão do Pyrogram
*.session
*.session-journal

# Arquivos de IDE e editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log
logs/
*.log.*

# Arquivos de build e distribuição
build/
dist/
*.egg-info/